*
{
    margin: 0%;
    padding: 0%;
}

header
{
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url("images/HERO.jpg");
}

nav
{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #131313a3;
}

h1
{
    text-align: center;
    text-transform: uppercase;
    background-color: #35353573;
}

h2, h3
{
    color: white;
    text-transform: uppercase;
}

span
{
    text-transform: uppercase;
}

#logo
{
    color: white;
    margin-left: 3em;
    font-size: 2em;
    text-transform: uppercase;
}

ul
{
    display: flex;
}

ul, li, a
{
    color: white;
    padding: 1em;
    font-weight: bolder;
    text-decoration: none;
    list-style-type: none;
    text-transform: uppercase;
}

.actif
{
    border: 2px solid deepskyblue;
}

.container-fluid
{
    padding-top: 3em;
    padding-bottom: 3em;
}

#bleu
{
    margin-left: 0%;
    color: deepskyblue;
}

#punchline
{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    align-items: center;
}

.service
{
    background-color: deepskyblue;
}

.boxService>*
{
    color: white;
}

.souligne
{
    text-decoration: underline;
}

.containerImg
{
    height: 150px;
    margin-bottom: 1em;
    padding: 10px;
}

.img1
{
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("images/portfolio/1.png");
}

.colorBlack
{
    color: black;
}

.justDefaultSection
{
    background-color: grey;
}

.bio
{
    background-color: rgb(147, 165, 187);
}

.text
{
    font-size: 23px;
}

.colorWhite
{
    color: white;
}

.citation
{
    color: deepskyblue;
}

input
{
    border: 1px solid grey;
    border-radius: 5px;
    background-color: rgba(128,128,128,0);
}

.infosContact
{
    padding-left: 1em;
}

.border-r
{
    border-right: 2px solid grey;
}

.footer
{
    background-color: #5d5d5d;
}

.colorGrey
{
    color: grey;
}